<h1>ユーザー登録</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <div>
    <%= f.label :last_name, '姓'%>
    <%= f.text_field :last_name %>
  </div>
  
  <div>
    <%= f.label :first_name, '名'%>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :email, 'メールアドレス'%>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, 'パスワード'%>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'パスワード(確認用)'%>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit '登録する' %>
<% end %>